<form [formGroup]="form!" (ngSubmit)="onSubmit()">
	<div class="container-fluid bg-gray-200 d-flex m-0 p-0" style="min-height: 100vh;height: auto;">

		<div class="row card border m-auto p-3 row shadow-lg bg-primary-light col-12 col-md-6">


			<div class="card-body">
				<div class="row">
					<h4 class="card-title text-primary-1">{{'Login' | uppercase}}</h4>
				</div>
				<div class="row">
					<p class="text-primary">Login to your account...</p>
				</div>

				<div class="row">
					<app-input-field class="w-100" [placeholder]="'Enter your email'" [isWithLabel]="true" [type]="'email'"
						[formControl]="getControl('email')" [label]="'Email'">
					</app-input-field>
				</div>
				<div class="row">
					<app-input-field class="w-100" [placeholder]="'Enter your password'" [label]="'Password'" [isWithLabel]="true"
						[type]="'password'" [formControl]="getControl('password')">
					</app-input-field>
				</div>

				<div class="row pb-2 justify-content-center">
					<button [appLoadingButton]="status===4" [disabled]="!form?.valid" class="mb-1 btn btn-secondary"
						type="submit">Login</button>
				</div>
				<div class="row pb-2 justify-content-center">
					<a [routerLink]="['/'+routerMap.signUp]" class="pointer text-sm">Create new account ?</a>
				</div>
			</div>
		</div>
	</div>


</form>
